<ion-tabs mode="ios">
  <!-- Tab Inicio -->
  <ion-tab label="Cuenta" icon="ios-wallet" href="/tabs/(inicio:inicio)">
    <ion-router-outlet name="inicio"></ion-router-outlet>
  </ion-tab>

  <!-- Tab Tienda -->
  <ion-tab label="Tienda" icon="ios-basket" href="/tabs/(tienda:tienda)">
    <ion-router-outlet name="tienda"></ion-router-outlet>
  </ion-tab>

  <!-- Tab Scanner -->
  <ion-tab label="Scanner" icon="md-qr-scanner" href="/tabs/(scanner:scanner)">
    <ion-router-outlet name="scanner"></ion-router-outlet>
  </ion-tab>

  <!-- Tab Tarjetas -->
  <ion-tab label="Tarjetas" icon="ios-card" href="/tabs/(tarjetas:tarjetas)">
    <ion-router-outlet name="tarjetas"></ion-router-outlet>
  </ion-tab>

  <!-- Tab Ventas -->
  <ion-tab label="Ventas" icon="md-trending-up" href="/tabs/(ventas:ventas)">
    <ion-router-outlet name="ventas"></ion-router-outlet>
  </ion-tab>


</ion-tabs>
