<ion-header>
  <ion-toolbar>
    <ion-title>Mis Tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

      <ion-card class="animated flip" mode = "ios">
        <img src="../../assets/bbva2.png"/>
        <div class="card-title">5222 0000 0000 0000</div>
        <div class="card-subtitle">02/22</div>
      </ion-card>

      <ion-card class="animated flip" mode = "ios">
        <img src="../../assets/bbva1.png"/>
        <div class="card-title">4555 0000 0000 0000</div>
        <div class="card-subtitle">03/23</div>
      </ion-card>

  <ion-fab class="animated pulse" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button mode="ios" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
