.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #fff;
  }

  .button-two{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

}
