<ion-header>
  <ion-toolbar>
    <ion-title>Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
  <ion-item *ngFor="let lugar of lugares">
    <ion-label>
      <h2>{{lugar.nombre}}</h2>
      <h3>{{lugar.direccion}}</h3>
      <p>{{lugar.categoria}}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab class="animated pulse" vertical="bottom" horizontal="center" slot="fixed">
<ion-fab-button color="light" mode="ios">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab>

</ion-content>
